
<%= link_to sd_model_prompt_path(mod_prompt) do %>
  <div class="image-container">
    <img class="p-2" src="<%= image_url(mod_prompt.thumbnail) %>" style="min-height:300px;min-width:300px;max-width:510px;max-height:510px;">
    <div class="label"><%= mod_prompt.sd_model.name %></div>
  </div>
<% end %>

